@import url('https://fonts.googleapis.com/css?family=Courgette');

.topnav {
    background-color: #292929;
    overflow: hidden;
    padding-top: 1px; 
    padding-bottom: 1px; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

.sidenav-container {
    overflow: hidden;
    max-height: 95vh;
}

.sidenav {
    width: 300px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #292929;
    overflow-y: scroll !important;
    overflow-x: hidden;
    height: 90%;
    z-index: 1;
    border-right: 2px solid #2d2d2d;
  }

.contextMenu {
    position: fixed;
    top: 25;
    right: 0;
}
  
.navTitle {
    color: white;
    text-align: center;
    font-size: 40px; 
    margin-top: 35px; 
    font-family: 'Courgette';
    padding-left: 10px; 
}

.navBars {
    color: white;
    font-size: 30px; 
    padding-right: 75px;
    padding-top: .4rem;
    float: right; 
 
    cursor: pointer;
}
  .dashboardBody {
      margin-left: 25%;
  }

  .favorite {
      padding-left: 100px;
  }

  .status {
      float: right;
      color: white;
      padding-right: 200px;
      padding-top: 15px;
  }
  
  .chart-right {
      margin-left: 45%;
      margin-top: -200px;
  }

  /* .chart-left {
      margin-left: 10% !important;
  } */

  .time {
    margin-top: -231px;
  }

  .logo {
      float: right;
      margin-right: 70px;
      margin-top: 5px;
  }

  .logo-letter {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

  .favicon {
      font-size: 14px;
      color: #F8CE74;
  }

  .favText {
      font-size: 16px;
      color: white;
  }

  .loader {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #F8CE74;
    border-bottom: 5px solid #F8CE74;
    border-left: 5px solid #498957;
    border-right: 5px solid #498957;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .pleaseSelectFilter {
      color: white;
      text-align: center;
      padding-top: 25%;
      height: 100%;
      width: 100%;

  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }