@import url('https://fonts.googleapis.com/css?family=Courgette');

.topnav {
    background-color: #2d2d2d;
    overflow: hidden;
    padding-top: .1rem; 
    padding-bottom: .1rem; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

.sidenav-container {
    overflow: hidden;
    max-height:95vh;
}

.sidenav {
    width: 285px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #2d2d2d;
    overflow-y: scroll !important;
    overflow-x: hidden;
    height: 90%;
    z-index: 1;
  }

.contextMenu {
    position: fixed;
    top: 25;
    right: 0;
}
  
.navTitle {
    color: white;
    text-align: center;
    font-size: 40px; 
    margin-top: 35px; 
    font-family: 'Courgette';
    padding-left: 10px; 
}

.navBars {
    color: white;
    font-size: 30px; 
    padding-right: 40px;
    padding-top: .4rem;
    float: right; 
 
    cursor: pointer;
}
  .dashboardBody {
      margin-left: 350px;
  }

  .favorite {
      margin-left: 35px;
      padding-left: 100px;
      padding-bottom: 15px;
  }
  
  .chart-right {
      margin-left: 550px;
      margin-top: -200px;
  }

  .time {
    margin-top: -231px;
  }

  .logo {
      float: right;
      margin-right: 75px;
      margin-top: 5px;
  }

  .logo-letter {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

  .favicon {
      font-size: 20px;
      color: #F8CE74;
  }

  .favText {
      font-size: 20px;
      color: white;
  }