@import url('https://fonts.googleapis.com/css?family=Courgette');


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 4px 3px 0 rgb(19, 18, 18);
    transition: 0.3s;
    padding: 70px 35px 70px 35px;
    margin-left: 30%;
    margin-top: 10%;
    height: auto;
    width: 35%;
    background-color: #275937;
}

.titlefont {
    color: white;
    text-align: center;
    font-size: 50px; 
    margin-top: 35px; 
    font-family: 'Courgette';
}

.googleLoginBtn {
    text-align: center;
}

.loginBtn {
    color: black;
    background-color: #F6BC3D;
    border: none;
    font-size: 15px; 
    padding: 10px; 
    width: 60%;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
}

.creds {
    font-size: 15px;
    width: 80%;
    padding: 10px;
    border-radius: 6px;
}

.logo-login{
    margin-left: 20%;

}